@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #363636;
  overflow-x: hidden;
}

@media screen and (max-width: 1366px) {
  .about_img {
    width: 18vw;
  }
  .My_projects_container {
    margin-top: 10vmax;
  }
  .Project_div {
    width: 60vw;
  }
  .Projects_cards_h1 {
    font-size: 1.2vmax;
  }
  .Projects_cards_p {
    font-size: 0.8vmax;
  }
  .Projects_Button {
    width: 8vw;
    height: 4vh;
  }
  .skills_imgs_flex {
    width: 65vw;
  }
}

@media screen and (max-width: 820px) {
  .nav_toggle {
    display: block;
  }
  .nav_menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 40%;
    padding: 5%;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    background-color: #762074;
    border-radius: 7%;
    margin-top: 0;
  }
  .nav_img {
    text-transform: uppercase;
    font-weight: bold;
    width: 35vw;
    height: 10vh;
  }
  .about_container {
    flex-direction: column-reverse;
    margin-top: 5%;
  }
  .about_div {
    margin-top: 5vmax;
    width: 50vw;
  }
  .about_img {
    width: auto;
  }
  .about_p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .skills_h1 {
    font-size: 5vw;
  }
  .skills_p {
    font-size: 2.8vw;
  }
  .skills_imgs_flex {
    width: 90vw;
    height: 60vh;
    justify-content: center;
  }
  .skills_sub_imgs {
    margin-top: 2%;
    padding: 1.8%;
  }
  .My_projects_container {
    margin-top: 20vmax;
  }
  .My_projects_h1 {
    font-size: 5vw;
  }
  .My_projects_p {
    font-size: 2.8vw;
  }
  .Project_div {
    width: 95vw;
    gap: 1rem;
  }
  .Projects_cards {
    width: 46vw;
    height: 30vh;
  }
  .Projects_cards_img {
    width: 46vw;
    height: 12vh;
  }
  .Projects_cards_h1 {
    font-size: 1.8vmax;
  }
  .Projects_cards_flex {
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
  }
  .Projects_cards_p {
    font-size: 1vmax;
    width: 46vw;
  }
  .Projects_card_a {
    font-size: 1vmax;
  }
  .Footer_division_div {
    width: 93vw;
  }
  .Projects_Button {
    width: 25vw;
    height: 3.5vh;
    margin-top: 2%;
  }
  .Projects_Button_icon {
    height: 4vh;
    width: 4vw;
  }
  .ButtonTop {
    height: 4.5vh;
    width: 10vw;
    right: 2%;
  }
}

.nav_active {
  transform: translateX(0);
}
