.skills_container {
  margin-top: 5vmax;
}

.skills_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills_h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  margin-bottom: 1.5rem;
  color: #cccccc;
}
.skills_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #a7a7a7;
  margin-bottom: 5rem;
}
.skills_sub_imgs {
  height: 1vh;
}

.skills_imgs {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skills_imgs img {
  height: 10vh;
  width: 6vw;
}

.skills_imgs p {
  color: #a7a7a7;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.skills_imgs_flex {
  display: flex;
  gap: 9rem;
  margin: 1rem;
  width: 50vw;
  height: 30vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
