.nav_li {
  list-style: none;
}

.nav_a {
  text-decoration: none;
  color: #a7a7a7;
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
}

.nav_a:hover {
  opacity: 0.7;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  margin-top: 2%;
}

.nav_img {
  text-transform: uppercase;
  font-weight: bold;
  width: 12vw;
  height: 14vh;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.nav_toggle div {
  width: 3rem;
  height: 0.2rem;
  margin: 0.5rem;
  background: #000;
}

.nav_toggle {
  cursor: pointer;
  display: none;
  background: darkgray;
  border: none;
  border-radius: 5px;
}
